.Avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url("../../assets/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}